header {
  align-items: center;
  background: linear-gradient(to right, rgb(212, 58, 58), rgb(78, 18, 115));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.logo-header {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-header span {
  color: white;
  font-size: 1.3em;
  padding: 0 10px;
}

.logo-header img {
  width: 50px;
}

.search-header {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-self: center;
  position: relative;
  justify-content: space-between;
}

.search-header input {
  border-radius: 25px;
  border: none;
  height: 25px;
  padding: 0 20px;
}

.search-header input::placeholder {
  color: #bdbdbd;
  font-weight: 100;
}

.search-header input:focus {
  border: none;
  outline: none;
}

.send-query {
  background: none;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  padding: 0 10px;
  color: rgb(78, 18, 115);
  font-size: 1em;
  display: flex;
  align-items: center;
}

.clear-query {
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  position: absolute;
  right: -12px;
}

.cart-header {
  justify-self: end;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cart-header svg {
  color: white;
  font-size: 1.6em;
}

.cart-amount {
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 25px;
  color: white;
  font-size: 0.6em;
  font-weight: 900;
  transform: translateY(-10px) translateX(-5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
