header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  display: grid;
  grid-template-columns: 274px 1fr ;
  background-color: #fff;
}

.header-left-content {
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: #fff;
  width: 274px;
  /* height: 90px; */
  border-bottom: 5px solid var(--primary-color);
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.header-left-content a {
  text-decoration: none;
  position: relative;
  z-index: 2;
  font-family: sans-serif;
  font-weight: 100;
  font-family: product-sans, sans-serif;
  color: #444;
  font-size: 1.3em;
}

.header-left-content .detail-logo {
  content: '';
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: var(--red);
  left: 80px;
  z-index: 1;
  border-radius: 50%;
}

.header-right-content {
  align-items: center;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 274px;
  padding: 0 40px 0 5px;
  border-bottom: 5px solid var(--primary-color);
}

.logo-header {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-header span {
  font-size: 1.3em;
  padding: 0 10px;
  color: #444;
}

.logo-header img {
  width: 50px;
}

.search-header {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.5em;
  display: flex;
  justify-self: center;
  position: relative;
  justify-content: space-between;
  height: 40px;
}

.search-header input {
  border-radius: 0.5em;
  border: none;
  height: 100%;
  padding: 0 20px;
  background: none;
}

.search-header input:-webkit-autofill,
.search-header input:-webkit-autofill:hover, 
.search-header input:-webkit-autofill:focus, 
.search-header input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

.search-header input::placeholder {
  color: #bdbdbd;
  font-weight: 100;
}

.search-header input:focus {
  border: none;
  outline: none;
}

.send-query {
  background: none;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  padding: 0 10px;
  color: var(--blue);
  font-size: 1em;
  display: flex;
  align-items: center;
}

.clear-query {
  align-items: center;
  background: none;
  border: none;
  color: var(--red);
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  position: absolute;
  right: -12px;
}

.cart-header {
  justify-self: end;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #444;
}

.cart-header svg {
  font-size: 1.6em;
}

.cart-amount {
  background-color: var(--red);
  width: 17px;
  height: 17px;
  border-radius: 25px;
  color: white;
  font-size: 0.6em;
  font-weight: 900;
  transform: translateY(-10px) translateX(-5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
