@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 230px;
  height: 300px;
  overflow: hidden;
  position: relative;
  animation: toTop 0.5s;
}

.remove-action {
  top: 30px;
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 30px;
}

.remove-from-the-cart {
  position: absolute;
  right: -2px;
  top: 0px;
  border: 3px solid var(--primary-color);
  border-right: none;
  background-color: #fff;
  color: var(--red);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  transition: 0.5s;
  height: 30px;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card:hover .remove-from-the-cart {
  width: 20%;
}

.remove-from-the-cart:hover {
  cursor: pointer;
}


.product-card img {
  height: 150px;
  object-fit: contain;
  width: 100%;
  padding: 20px;
  border: 3px solid var(--primary-color);
  background: rgb(255,255,255);
}

.product-infos {
  color: #444;
  display: grid;
  padding: 20px 10px;
  gap: 10px;
  text-decoration: none;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  background-color: var(--primary-color);
}

.product-infos h3 {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 0.8em;
}

.product-card .product-price {
  font-size: 0.8em;
  color: var(--red);
}

.product-card .free-shipping {
  color: #44c189;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
}

.product-card .free-shipping svg {
  margin-right: 5px;
}

.item-quantity {
  font-size: 0.8em;
}

.item-quantity span {
  color: var(--blue);
}

