.home {
  padding: 90px 10px 0 274px;
  height: 100vh;
  width: 100%;
}

.home .header-left-content {
  border-right: 5px solid var(--primary-color);
  border-bottom: none;
  padding-bottom: 5px;
}

.home .products {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  justify-items: center;
  overflow-y: scroll;
  height: 100%;
  width: calc(100vw - 274px);
  padding: 20px;
}
