@media screen and (max-width: 925px) {
  .categories ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 10px;
    justify-content: center;
  }

}
