@media screen and (max-width: 925px) {
  .categories {
    padding: 20px 30px;
  }

  .categories-desktop {
    display: none;
  }

  .openCloseCategories {
    display: block;
    margin: 20px 0;
    color: rgb(78, 18, 115);
  }

  .categories-mobile {
    display: flex;
    flex-direction: column;
  }
}
