.categories {
  padding: 50px 35px 20px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  height: calc(100% - 90px);
  overflow-y: scroll;
  width: 274px;
  border-right: 5px solid var(--primary-color);
}

.categories::-webkit-scrollbar {
  display: none;
}

.openCloseCategories {
  display: none;
}

.categories-mobile {
  display: none;
}

.categories-mobile, .categories-desktop {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categories li {
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px;
  display: flex;
  align-items: center;
}

.category {
  color: #444;
  font-weight: 100;
}

.category-selected {
  color: var(--blue);
  font-weight: 500;
}

.remove-category {
  background:none;
  border: none;
  color: rgb(255, 46, 46);
  cursor: pointer;
  margin: 0 5px;
  font-size: 1.2em;
}
