@media screen and (max-width: 925px) {
  .cart-page {
    display: flex;
    padding-top: 90px;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }

  .cart {
    flex-grow: 1;
  }

  .finalize-order {
    flex-grow: 0;
    padding: 10px;
  }

  .finalize-order form {
    /* flex-grow: 2; */
    min-width: 300px;
  }
}
