@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.cart-page {
  height: 100vh;
  display: grid;
  padding-top: 90px;
  grid-template-columns: 1fr 400px;
}

.cart {
  overflow-y: auto;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart-items {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
}

.finalize-order {
  padding: 20px;
}

.finalize-order form {
  background: var(--primary-color);
  /* border-radius: 0.5em; */
  width: 100%;
  /* height: 100%; */
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.finalize-order form h3 {
  /* text-align: center; */
  color: var(--red);
  font-weight: 100;
  margin: 20px 0;
}

.finalize-order form label {
  /* background-color: red; */
  padding: 10px;
  width: 100%;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
}

.finalize-order form label span {
  color: var(--red);
  font-size: 1.3em !important;
}

.finalize-order form input {
  width: 100%;
  border: 1px solid #fff;
  background: #fff;
  /* border-bottom: 1px solid var(--blue); */
  padding: 15px 10px;
  outline: none;
}

.finalize-order form input:focus {
  border: 1px solid var(--blue);
}

.finalize-order form input:-webkit-autofill,
.finalize-order form input:-webkit-autofill:hover, 
.finalize-order form input:-webkit-autofill:focus, 
.finalize-order form input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

.cart-subtotal {
  color: var(--red);
  margin-top: 20px;
}

.cart-subtotal span {
  color: #444;
}

.submit-order {
  background-color: var(--blue);
  border: none;
  padding: 10px;
  color: #fff;
  margin: 20px 0;
  cursor: pointer;
}
